@mixin border-1px ($color: #666666, $left: 0, $right: 0) {
  & {
    position: relative;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: $left;
    right: $right;
    content: '';
    display: block;
    height: 1px;
    background: $color;
    transform: scaleY(0.5);
  }
}